<form>

  <h1>Cechy Przedmiotu</h1>
  <div>
    {{#each traits as |trait t|}}

      <div class="form-group wrapper">
        <label>{{trait.display}}</label>
        {{#if trait.hasRating}}
        <input type="text" name="{{trait.key}}-rating" value="{{trait.existingTrait.rating}}">
        {{/if}}
        <input type="checkbox" name="{{trait.key}}" {{checked trait.existingTrait}}>
      </div>

    {{/each}}

  </div>
  <div class="form-group">
    <label>Dodatkowe Cechy <i class="far fa-question-circle" style="margin-left:3px;" title="FORMAT - Cecha 1: Opis Cechy 1. | Cecha 2: Opis Cechy 2. | itd."></i></label>
    <div class="form-fields">
      <input name="custom-traits" type="text" value="{{custom}}">
    </div>
  </div>
  <button type="submit">Zapisz</button>
</form>